<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="meterType">
        <mat-header-cell *matHeaderCellDef> Meter Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-icon fontIcon="{{element.meterType | lowercase}}_meter"></mat-icon>{{element.meterType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount | currency: 'GBP'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="paymentDate">
        <mat-header-cell *matHeaderCellDef> Payment Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paymentDate | date}} </mat-cell>
    </ng-container>    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>    
</mat-table>
<button mat-raised-button (click)="openNewPayment()">NEW <mat-icon fontIcon="add"></mat-icon> </button>