<app-header></app-header>
<div class="container">
    <div class="wrapper">
        <mat-card>
            <mat-card-header>
                <h1><mat-icon fontIcon="add_shopping_cart"></mat-icon>BILLS</h1>
            </mat-card-header>
            <mat-card-content><app-bill></app-bill></mat-card-content>
        </mat-card>
    </div>
    <div class="wrapper">
        <mat-card>
            <mat-card-header>
                <h1><mat-icon fontIcon="rate_review"></mat-icon> RATE</h1>
            </mat-card-header>
            <mat-card-content><app-rate></app-rate></mat-card-content>
        </mat-card>
    </div>
    <div class="wrapper">
        <mat-card>
            <mat-card-header>
                <h1><mat-icon fontIcon="library_books"></mat-icon> CURRENT READING</h1>
            </mat-card-header>
            <mat-card-content><app-meter-reading></app-meter-reading></mat-card-content>
        </mat-card>
    </div>
    <div class="wrapper">
        <mat-card>
            <mat-card-header>
                <h1><mat-icon fontIcon="history"></mat-icon> OLD READING</h1>
            </mat-card-header>
            <mat-card-content><app-old-readings></app-old-readings></mat-card-content>
        </mat-card>
    </div>
    <div class="wrapper">
        <mat-card>
            <mat-card-header>
                <h1><mat-icon fontIcon="currency_pound"></mat-icon> PAYMENT</h1>
            </mat-card-header>
            <mat-card-content><app-payment></app-payment></mat-card-content>
        </mat-card>
    </div>
</div>