<div fxLayout="row wrap">
    <div fxFlex="50%" *ngFor="let billObj of billData">
        <mat-card style="text-align: center; justify-content: center;border: 1px;">
            <mat-card-header fxLayoutAlign="space-around center">
                <mat-card-title><mat-icon fontIcon="{{billObj.meterType | lowercase}}_meter"></mat-icon>
                    {{billObj.meterType}} : {{billObj.bill.actualAmount | currency: 'GBP'}}</mat-card-title>
                <mat-card-subtitle><mat-icon fontIcon="today"></mat-icon> {{billObj.usageStartDate | date}} to
                    {{billObj.usageEndDate | date}}
                    ({{billObj.noOfDays}} Days)</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="border:0.5px dashed grey;">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><b>{{billObj.unitsUsed | number}} </b> Units used</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem"><b>{{billObj.bill.actualAmount | currency:'GBP'}}</b> is your
                            actual
                            bill</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">You've paid <b>{{billObj.bill.paidAmount |
                                currency:'GBP'}} </b></mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item role="listitem">{{billObj.bill.message}} - <b>{{billObj.bill.balance |
                                currency:'GBP'}}</b></mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>