/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-cell:hover{  
  background-color: #b4b4b433;
}

.container {
  padding: 20px 20px 20px 20px;
  box-shadow: 11px 11px 11px rgba(33, 33, 33, .2)
}

.wrapper {
  margin-bottom: 30px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 0 11px rgba(33, 33, 33, .2)
}
mat-card:hover{
  box-shadow: 10px 10px 10px 10px rgba(33, 33, 33, .2)
}
mat-list-item:hover{
  background: #e1e1e1;  
}