<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="meterType">
        <mat-header-cell *matHeaderCellDef> Meter Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> <mat-icon
                fontIcon="{{element.meterType | lowercase}}_meter"></mat-icon>{{element.meterType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rate">
        <mat-header-cell *matHeaderCellDef> Rate </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rate | currency: 'GBP'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="standingCharge">
        <mat-header-cell *matHeaderCellDef> Standing charges </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.standingCharge | currency: 'GBP'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> <button mat-icon-button><mat-icon fontIcon="edit"></mat-icon></button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>